@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body {
	font-family: font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px
	font-weight: 300;
	background-image: url(../img/background.jpg);
	background-size: contain;
	background-attachment: fixed;
	
}

a:link, a:visited { 
	color: #0000AA;
	text-decoration:none;
}

a:hover, input:focus {
	color: #0000EE;
}

h1, h2, h3 {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
	
	font-weight: 300;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2, h3 {
	font-color: #505050;
	font-size: 150%;
}

h3 {
	font-size: 125%;
}

main {
	margin: 20px, 20px, 20px, 30%;
	background-image: url(../img/ricepaper_v3.png); 
	opacity: .9;
}